.contacts__container {
	width: 300px;
	padding: 15px;
}

.contacts__title {
	margin-bottom: 20px;
	font-size: 32px;
	font-weight: 600;
}

.contacts__label {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-bottom: 20px;

	font-size: 16px;
	font-weight: 500;
}

.contacts__input {
	display: inline-block;
	height: 25px;
	padding-inline: 10px;

	font-size: 14px;

	border-radius: 10px;
	border: 1px solid #adadad;
	background-color: #cfcfcf;
}

.contacts__empty,
.contacts__list {
	margin-block: 0;

	font-size: 16px;
	font-weight: 500;
}

.contacts__item:not(:last-child) {
	margin-bottom: 5px;
}
